[submodule "terraform-initial-template"]
	path = terraform-initial-template
	url = git@github.com:Stackspot-Dados/terraform-initial-template.git
[submodule "aws-glue-database-plugin"]
	path = aws-glue-database-plugin
	url = git@github.com:Stackspot-Dados/aws-glue-database-plugin.git
[submodule "aws-glue-s3-plugin"]
	path = aws-glue-s3-plugin
	url = git@github.com:Stackspot-Dados/aws-glue-s3-plugin.git
[submodule "aws-glue-crawler-plugin"]
	path = aws-glue-crawler-plugin
	url = git@github.com:Stackspot-Dados/aws-glue-crawler-plugin.git
[submodule "aws-athena-workgroup-plugin"]
	path = aws-athena-workgroup-plugin
	url = git@github.com:Stackspot-Dados/aws-athena-workgroup-plugin.git
